<div class="modal-header">
    <h3 class="modal-title">Export reports</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="stateNameInput"
                   class="col-sm-4 control-label">Name of dashboard</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       id="stateNameInput"
                       ng-model="name"
                       placeholder="Name of dashboard" />
            </div>
        </div>
        <div class="form-group">
            <label for="stateKeyInput"
                   class="col-sm-4 control-label">Unique key for dashboard</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       disabled="disabled"
                       ng-model="key"
                       id="stateKeyInput" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success"
            ng-click="save()"
            ng-disabled="name.length < 1">
        Save
    </button>
    <button class="btn btn-warning" ng-click="cancel()">
        Cancel
    </button>
</div>
