<div class="page-container">

    <div application-sidebar
         active="dashboard"></div>

    <div class="container">

        <div dashboard-nav-bar></div>

        <div class="row"
             ui-sortable="dashboard.sortableOptions"
             ng-model="dashboard.reports">
            <div class="col-md-{{report.size}} widget"
                 ng-repeat="report in dashboard.reports">
                <div single-widget
                     report="report"
                     dashboard="dashboard"></div>
            </div>
        </div>

    </div>

</div>
