<nav class="navbar navbar-default navbar-fixed-top"
     role="navigation"
     id="top-navbar"
     ng-controller="DashboardNavBarCtrl as navBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ped-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Piwik external dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="ped-navbar-collapse">
            <form class="navbar-form navbar-left" role="search" ng-controller="DatepickerCtrl">
                <div class="form-group">
                    <input type="text"
                           class="form-control col-md-4"
                           datepicker-popup="{{format}}"
                           ng-model="dt"
                           is-open="opened"
                           min-date="minDate"
                           max-date="maxDate"
                           format="dd.MM.yyyy"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close" />
                </div>
                <button type="button"
                        class="btn btn-default"
                        ng-click="open($event)"><i class="glyphicon glyphicon-calendar pick"></i></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=""
                       ng-click="dashboard.openReportsModal()"
                       ng-disabled="dashboard.reportsModalIsLoading"><i class="glyphicon glyphicon-plus"></i> Add widget</a>
                </li>
                <li>
                    <a href=""
                       ng-click="dashboard.exportDashboard()"
                       ng-disabled="dashboard.exportIsLoading"><i class="glyphicon glyphicon-export"></i> Export dashboard</a>
                </li>
                <li class="dropdown" ng-init="user = navBar.getUser()">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ user.alias }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/login" ng-click="navBar.logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search" ng-controller="SiteSelectorCtrl" ng-show="sites">
                <div class="form-group">
                    <select ng-model="site" class="form-control"
                            ng-options="site.name for site in sites">
                    </select>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row" ng-if="isLoading" id="loader">
    <img src="images/loader.gif" />
</div>

<div class="row">
    <div class="col-md-{{report.size}} widget" ng-repeat="report in dashboard.reports">
        <div class="panel panel-default">
            <div class="panel-heading"
                 ng-controller="ReportWidgetConfigCtrl as config"
                 ng-init="config.report = report;
                          config.dashboard = dashboard">
                <div ng-show="report.size > 9">
                    <button type="button"
                       ng-click="dashboard.remove(report)"
                       class="pull-right btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>

                    <button type="button"
                            ng-click="report.visualization = 'evolution'"
                            class="pull-right btn btn-default">evolution</button>

                    <button type="button"
                            ng-click="report.visualization = 'pie'"
                            class="pull-right btn btn-default">pie</button>

                    <button type="button"
                            ng-click="report.visualization = 'bar'"
                            class="pull-right btn btn-default">bar</button>

                    <button type="button"
                            ng-click="report.visualization = 'table'"
                            class="pull-right btn btn-default">table</button>

                    <button type="button"
                            class="pull-right btn">
                        Change size:
                        <slider ng-model="size"
                                min="1"
                                step="1"
                                max="12"
                                value="{{ report.size }}"></slider>
                    </button>

                </div>

                <div class="btn-group pull-right" ng-hide="report.size > 9">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href=""
                                ng-click="dashboard.remove(report)"><i class="glyphicon glyphicon-remove"></i> Remove</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-show="report.visualization !== 'evolution'">
                            <a href="" ng-click="report.visualization = 'evolution'">Transform into evolution</a>
                        </li>
                        <li ng-show="report.visualization !== 'pie'">
                            <a href="" ng-click="report.visualization = 'pie'">Transform into pie</a>
                        </li>
                        <li ng-show="report.visualization !== 'bar'">
                            <a href="" ng-click="report.visualization = 'bar'">Transform into bar</a>
                        </li>
                        <li ng-show="report.visualization !== 'table'">
                            <a href="" ng-click="report.visualization = 'table'">Transform into table</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="">
                                <slider ng-model="size"
                                        min="1"
                                        step="1"
                                        max="12"
                                        value="{{ report.size }}"></slider>
                            </a>
                        </li>
                    </ul>
                </div>
                <h3 ng-bind="report.report.name"></h3>
            </div>
            <div class="panel-body"
                 report
                 module="{{ report.report.module }}"
                 action="{{ report.report.action }}"
                 evolution="report.visualization == 'evolution' ? true : false">
                <div ng-if="report.visualization == 'evolution'" evolution-vis></div>
                <div ng-if="report.visualization == 'bar'" bar-vis></div>
                <div ng-if="report.visualization == 'pie'" pie-vis></div>
                <div ng-if="report.visualization == 'table'" tablevis></div>
            </div>
        </div>
    </div>
</div>
