<header class="row">
	<div class="col-md-8">
		<img src="/images/piwik.png" class="logo">
	
        <div class="range calendarpick">
            <div ng-controller="DatepickerCtrl">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" format="dd.MM.yyyy" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

                <i class="glyphicon glyphicon-calendar pick" ng-click="open($event)" ></i>
            </div>
	    </div>
	</div>
    <div class="col-md-4">
        <ul class="list-inline">

            <li class="add-widget">
                    <span class="glyphicon glyphicon-plus" ng-click="dashboard.openReportsModal()"></span>
            </li>
            <li>
                <div class="site-selector">
                    <div ng-controller="SiteSelectorCtrl">
                        <select ui-select2 ng-model="ss" data-placeholder="Choose site" ng-required="true">
                            <option value=""></option>
                            <option ng-repeat="site in sites" value="{{site.idsite}}">{{site.name}}</option>
                        </select>
                    </div>
                </div>
            </li>

            <li>
                <div class="site-selector">
                    <button ng-click="dashboard.exportDashboard()" class="btn">Export</button>
                </div>
            </li>

            <li>
                <a href="/login" class="btn"><span class="glyphicon glyphicon-log-out"
                        style="background: #56baec;
color: #fff;
border-radius: 999px;
width: auto !important; padding-right: 5px;"></span> Logout</a>
            </li>
        </ul>
    </div>
</header>

<div class="row" ng-if="isLoading"
        style="height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;">
    <img src="/images/loader.gif" />
</div>

<div class="row">
    <div class="col-md-{{report.size}}" ng-repeat="report in dashboard.reports">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#"
                   ng-click="dashboard.remove(report)"
                   class="glyphicon glyphicon-remove pull-right"></a>
                <h3 ng-bind="report.report.name"></h3>
            </div>
            <div class="panel-body"
                 report
                 module="{{ report.report.module }}"
                 action="{{ report.report.action }}"
                 evolution="report.visualization == 'evolution' ? true : false">
                <div ng-if="report.visualization == 'evolution'" evolution-vis></div>
                <div ng-if="report.visualization == 'bar'" bar-vis></div>
                <div ng-if="report.visualization == 'pie'" pie-vis></div>
                <div ng-if="report.visualization == 'table'" tablevis></div>
            </div>
        </div>
    </div>
</div>

<div ng-show="selected">Selection from a modal: {{ selected }}</div>

