<nav class="navbar navbar-default"
     role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#dashboard-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dashboard</a>
        </div>

        <div class="collapse navbar-collapse"
             id="dashboard-navbar-collapse">
            <div dashboard-date-selector></div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=""
                       ng-click="dashboard.openReportsModal()">
                        <i class="glyphicon glyphicon-plus"></i> Add widget
                    </a>
                </li>
                <li>
                    <a href=""
                       ng-click="dashboard.exportDashboard()">
                        <i class="glyphicon glyphicon-export"></i> Export dashboard
                    </a>
                </li>
            </ul>

            <div sites-selector></div>
        </div>
    </div>
</nav>
