<nav class="navbar navbar-default"
     role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" ng-init="editName = false;">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#dashboard-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="/"
               ng-bind="dashboard.current.name"
               ng-hide="editName"></a>
            <form class="navbar-form navbar-left"
                  ng-show="editName">
                <div class="form-group">
                    <input type="text"
                           class="form-control col-md-2"
                           ng-model="dashboard.current.name" />
                </div>
            </form>

            <div class="btn-group navbar-left navbar-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="editName === true ? dashboard.persist() : true; editName = !editName;">
                    <i class="fa fa-pencil"></i>
                </button>

                <button type="button"
                        class="btn btn-default"
                        ng-if="dashboard.canRemove()"
                        ng-click="dashboard.remove()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse"
             id="dashboard-navbar-collapse">
            <div dashboard-date-selector></div>

            <ul class="nav navbar-nav navbar-right">
                <li dashboard-add-report
                    style="margin: 0 15px 0 0;"></li>
                <li dashboard-export-reports></li>
            </ul>

            <div sites-selector></div>
        </div>
    </div>
</nav>
