body {
	background-color: $bg-color;
}

.widget {
	background-color: $widget-bg;
	border-radius: 5px;
	border-bottom: 3px solid darken( $bg-color, 30% );
	.w-name {
		background-color:$p-main-color;
		padding: 20px;
		color: $w-head-f-color;
		border-radius: 5px 5px 0 0;
		border-bottom: 3px solid darken($p-main-color, 10%);
		font-weight: bold;
	}
	.w-content {
		padding: 20px;
	}
}