.data-table {

}

.data-table thead tr th {
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    background-color: #f5f5f6;
    color: #a6a7aa;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.data-table thead tr th.sorting_asc,
.data-table thead tr th.sorting_desc {
    color: #303641;
}

.data-table thead tr th.sorting_asc:before,
.data-table thead tr th.sorting_desc:before
{
    display: block;
    float: right;
    color: #303641;
    font-family: FontAwesome;
    content: '\f0d8';
}

.data-table thead tr th.sorting_desc:before {
    content: '\f0d7';
}

.data-table-meta {
    color: #a6a7aa;
    margin: 27px 0;
}
