<div ng-if="data.length > 0">
    <ul class="list-inline">
        <li data-ng-repeat="metric in metrics"
            data-ng-style="{opacity: metric.enabled ? 1 : .4}">
            <a href=""
               data-ng-style="{color: metric.color}"
               data-tooltip-placement="bottom"
               data-tooltip="{{ metric.description }}"
               data-ng-click="toggleMetric($index)">
                <small>
                    <span data-ng-hide="metric.enabled">[+]</span>
                    <span data-ng-show="metric.enabled">[-]</span>
                    <span data-ng-bind="metric.name"></span>
                </small>
            </a>
        </li>
    </ul>
    <div data-line-chart
         data-data="data"
         data-xkey="{{ xkey }}"
         data-ykeys="ykeys"
         data-labels="labels"
         data-line-colors="metricsColors"
         data-date-format="dateFormat"
         data-set-graph="setGraphInstance"
         data-hover-callback="hoverCallback"
         data-hide-hover="true"></div>
</div>
