{
    "frontend": {
        "persistenceLayer": {
            "name": "firebase",
            "configuration": {
                "host": "piwik-ext-dashboard.firebaseio.com"
            }
        },
        "reports": {
            "source": "api"
        },
        "auth": {
            "source": "api"
        },
        "users": {
            "source": "api"
        }
    },
    "server": {
        "port": 3000,
        "static": "app"
    }
}
