<div class="panel-footer">
    <button type="button"
            ng-repeat="visualization in visualizations"
            ng-click="report.visualization = visualization"
            ng-class="{
                'btn-default': report.visualization !== visualization,
                'btn-success': report.visualization === visualization
            }"
            class="btn"
            ng-bind="visualization"></button>

    <div class="btn-group dropup" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Change size <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="size in sizes">
                <a href ng-click="report.size = size; status.isopen = false;">{{ size }}</a>
            </li>
        </ul>
    </div>
</div>
