<div class="login-page">
    <form class="form-login">
        <h3 class="form-login-heading">Please login to your Piwik</h3>
        <input type="text"
               class="form-control host-input"
               name="host"
               ng-model="login.host"
               placeholder="Your piwik host name"  />

        <input type="text"
               class="form-control login-input"
               name="login"
               ng-model="login.login"
               placeholder="Your username"
               ng-disabled="login.anonymous" />

        <input type="password"
               class="form-control password-input"
               name="password"
               ng-model="login.password"
               placeholder="Password"
               ng-disabled="login.anonymous" />

        <label class="checkbox" for="asAnonymousCheckbox">
            <input type="checkbox"
                   id="asAnonymousCheckbox"
                   name="anonymous" ng-model="login.anonymous"> Login as anonymous
        </label>

        <div class="text-center"
             ng-if="login.loading"
             ng-cloak>
            <div class="alert alert-info" role="alert">
                Authenticating with your piwik, please wait...
            </div>
        </div>

        <div class="text-center"
             ng-if="login.noAccess"
             ng-cloak>
            <div class="alert alert-danger" role="alert">You don't have access to this Piwik!</div>
        </div>

        <button class="btn btn-lg btn-primary btn-block"
                type="button"
                ng-disabled="!login.isComplete() || login.loading"
                ng-click="login.process()">
            <i class="fa fa-spinner fa-spin"
               ng-if="login.loading"></i>
            <span ng-if="!login.loading">Sign in</span>
        </button>
    </form>
</div>
