<div class="row login-box">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Log into dashboard</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputHost" class="col-sm-4 control-label">Piwik host name</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   id="inputHost"
                                   class="form-control"
                                   placeholder="demo.piwik.org"
                                   ng-model="login.host" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLogin" class="col-sm-4 control-label">Login</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   id="inputLogin"
                                   class="form-control"
                                   placeholder="Piwik login"
                                   ng-model="login.login"
                                   ng-disabled="login.anonymous" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password"
                                   id="inputPassword"
                                   class="form-control"
                                   ng-model="login.password"
                                   ng-disabled="login.anonymous" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="login.anonymous"> Login as anonymous
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="button"
                                    ng-disabled="!login.isComplete()"
                                    ng-click="login.process()">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
