<div class="panel panel-default">
    <div class="panel-heading"
         ng-controller="ReportWidgetConfigCtrl as config"
         ng-init="config.report = report;
                          config.dashboard = dashboard">
        <div ng-show="report.size > 9">
            <button type="button"
                    ng-click="dashboard.remove(report)"
                    class="pull-right btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>

            <button type="button"
                    ng-click="report.visualization = 'evolution'"
                    ng-class="{
                                'btn-default': report.visualization !== 'evolution',
                                'btn-success': report.visualization === 'evolution'
                            }"
                    class="pull-right btn">evolution</button>

            <button type="button"
                    ng-click="report.visualization = 'pie'"
                    ng-class="{
                                'btn-default': report.visualization !== 'pie',
                                'btn-success': report.visualization === 'pie'
                            }"
                    class="pull-right btn">pie</button>

            <button type="button"
                    ng-click="report.visualization = 'bar'"
                    ng-class="{
                                'btn-default': report.visualization !== 'bar',
                                'btn-success': report.visualization === 'bar'
                            }"
                    class="pull-right btn">bar</button>

            <button type="button"
                    ng-click="report.visualization = 'table'"
                    ng-class="{
                                'btn-default': report.visualization !== 'table',
                                'btn-success': report.visualization === 'table'
                            }"
                    class="pull-right btn">table</button>

            <button type="button"
                    class="pull-right btn">
                Change size:
                <slider ng-model="size"
                        min="1"
                        step="1"
                        max="12"
                        value="{{ report.size }}"></slider>
            </button>

        </div>

        <div class="btn-group pull-right" ng-hide="report.size > 9">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href=""
                       ng-click="dashboard.remove(report)"><i class="glyphicon glyphicon-remove"></i> Remove</a>
                </li>
                <li class="divider"></li>
                <li ng-show="report.visualization !== 'evolution'">
                    <a href="" ng-click="report.visualization = 'evolution'">Transform into evolution</a>
                </li>
                <li ng-show="report.visualization !== 'pie'">
                    <a href="" ng-click="report.visualization = 'pie'">Transform into pie</a>
                </li>
                <li ng-show="report.visualization !== 'bar'">
                    <a href="" ng-click="report.visualization = 'bar'">Transform into bar</a>
                </li>
                <li ng-show="report.visualization !== 'table'">
                    <a href="" ng-click="report.visualization = 'table'">Transform into table</a>
                </li>
                <li class="divider"></li>

                <li>
                    <a href="">
                        <slider ng-model="size"
                                min="1"
                                step="1"
                                max="12"
                                value="{{ report.size }}"></slider>
                    </a>
                </li>
            </ul>
        </div>
        <h3 ng-bind="report.report.name"></h3>
    </div>
    <div class="panel-body"
         report
         module="{{ report.report.module }}"
         action="{{ report.report.action }}"
         evolution="report.visualization == 'evolution' ? true : false">
        <div ng-if="report.visualization == 'evolution'" evolution-graph></div>
        <div ng-if="report.visualization == 'bar'" bar-vis></div>
        <div ng-if="report.visualization == 'pie'" pie-vis></div>
        <div ng-if="report.visualization == 'table'" tablevis></div>
    </div>
</div>
