<div class="panel panel-default"
        ng-if="hasIdSite">
    <div data-single-widget-header
         data-report="report"
         data-dashboard="dashboard"></div>

    <div class="panel-body text-center"
         ng-if="report.report.loading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="panel-body text-center"
         ng-if="report.report.data !== false && !report.report.loading && report.report.data | isEmpty">
        <div class="alert alert-danger" role="alert">No data for this report.</div>
    </div>

    <div class="panel-body">
        <div ng-if="report.visualization == 'evolution'"
             data-morris-evolution-visualization></div>

        <div ng-if="report.visualization == 'bar'"
             data-morris-bar-visualization></div>

        <div ng-if="report.visualization == 'pie'"
             data-morris-pie-visualization></div>
    </div>

    <div ng-if="report.visualization == 'table'"
         data-table-visualization></div>

    <div data-single-widget-footer
         data-report="report"
         data-dashboard="dashboard"></div>
</div>
