<div class="table-responsive" style="overflow: auto;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ metadata.name }}</th>
                <th ng-repeat="column in metadata.metrics" ng-bind="column"></th>
                <th ng-repeat="column in metadata.processedMetrics" ng-bind="column"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reportRow in reportData | limitTo: 10">
                <td>{{ reportRow.label }}</td>
                <td ng-repeat="(column, label) in metadata.metrics" ng-bind="reportRow[column]"></td>
                <td ng-repeat="(column, label) in metadata.processedMetrics" ng-bind="reportRow[column]"></td>
            </tr>
        </tbody>
    </table>
</div>
