<div class="sidebar">

    <div application-brand-logo></div>
    <div application-user-bar></div>
    <ul class="sidebar-nav">
        <li ng-class="{'active': active === 'dashboard'}">
            <i class="fa fa-arrow-right pull-right"
               style="margin-top: 13px;"
               ng-show="active === 'dashboard'"></i>
            <a href="/"><i class="fa fa-dashboard"></i> &nbsp; Dashboard</a>
        </li>
        <li ng-class="{'active': active === 'customize'}">
            <i class="fa fa-arrow-right pull-right"
               style="margin-top: 13px;"
               ng-show="active === 'customize'"></i>
            <a href="/customize"><i class="fa fa-suitcase"></i> &nbsp; Customize</a>
        </li>
    </ul>
</div>
