<div class="row">
  <div class="col-md-2">
    <div class="widget">
      <h4 class="w-name">
        test
      </h4>
      <div class="w-content">
        lorem ipsum dolor sit amet
      </div>
    </div>  
  </div>

  <div class="col-md-2">
    <div class="widget">
      <h4 class="w-name">
        test
      </h4>
      <div class="w-content">
        lorem ipsum dolor sit amet
      </div>
    </div>  
  </div>

  <div class="col-md-8">
    <div class="widget">
      <h4 class="w-name">
        test
      </h4>
      <div class="w-content">
        lorem ipsum dolor sit amet
      </div>
    </div>  
  </div>
</div>