<div class="row">
  <div class="col-md-2">
    <div class="widget report" api="UserCountry.getCountry">
      <h4 class="w-name">
        test
      </h4>
      <div class="w-content">
        lorem ipsum dolor sit amet
      </div>
    </div>  
  </div>

  <div class="col-md-2">
    <div class="widget">
      <h4 class="w-name">
        Visitor browser
      </h4>
      <div class="w-content">
        <table>
          <thead>
            <tr>
              <th>Browser</th>
              <th>Visits</th>
              <th>Unique visitors</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chrome</td>
              <td>502</td>
              <td>454</td>
              <td>1098</td>
            </tr>
            <tr>
              <td>Firefox</td>
              <td>502</td>
              <td>454</td>
              <td>1098</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>

  <div class="col-md-8">
    <div class="widget">
      <h4 class="w-name">
        test
      </h4>
      <div class="w-content">
        lorem ipsum dolor sit amet
      </div>
    </div>  
  </div>
</div>

<div class="col-md-2">
    <div class="widget report" api="UserCountry.getCountry">
      <h4 class="w-name">
        test
      </h4>
      <div class="w-content">
        lorem ipsum dolor sit amet
      </div>
    </div>  
  </div>